/* color */
.color{
    color:blueviolet;         /* using color name */
    color:rgb(43, 255, 0);       /* using rgb value */
    color:#3cb371;                      /* using hexadecimal */
} 


/* 
background  color */
.bgcolor{
    background-color: rgb(17, 168, 194);
}

/*  border */
.border{
    background-color: black;
    height:100px;
    width:100px;

}
.border{
    color: white;
    border-width: 10px;
    border-style: solid;
    border-color: red;  

}
.border1{
    background-color: black;
    height:100px;
    width:100px;
    color: white;
    border-width: 10px;
    border-style:double;
    border-color:blue;  

}
.border2{
    background-color: black;
    height:100px;
    width:100px;
    color: white;
    border-width: 10px;
    border-style: dashed;
    border-color: rgb(255, 0, 170);  

}
.border3{
    background-color: black;
    height:100px;
    width:100px;
    color: white;
    border-width: 10px;
    border-style: dotted;
    border-color: rgb(102, 255, 0);  

}
.border4{
    background-color: black;
    height:100px;
    width:100px;
    color: white;
    border-width: 10px;
    border-style: groove;
    border-color: rgb(45, 160, 154);  

}

.border5{
    background-color: black;
    height:100px;
    width:100px;
    color: white;
    border-width: 10px;
    border-style: outset;
    border-color: rgb(253, 213, 13);  

}


.border6{
    background-color: black;
    height:100px;
    width:100px;
    color: white;
    border-width: 10px;
    border-style:  ridge;
    border-color: rgb(177, 13, 253);  

}
.border7{
    background-color: black;
    height:100px;
    width:100px;
    color: white;
    border-width: 10px;
    border-style: none;
    border-color: rgb(177, 13, 253);  

}

/* multiple border applay */

.multiple{
    background-color: black;
    height: 150px;
    width: 150px;
    border-top: 10px solid rgb(255, 0, 170);
    border-left: 15px double yellow;
    border-bottom: 9px dotted rgb(23, 23, 169);
    border-right: 10px dashed  rgb(45, 160, 154);
    color: white;

}

/* border radius applay */
.radius{
    color:white;
    background-color: black;
    height: 150px;
    width: 150px;
    border: 10px solid blueviolet;
    border-radius: 20px;
}
